.header {
  width: 1200px;
  height: 200px;
  border: 1.5px solid;
  display: flex;
  align-items: center;
  padding-left: 70px;
  position: fixed;
  top: 0;
}

.imgWrapper {
  width: 156px;
  height: 150px;
  margin-right: 25px;
}

.text {
  font-size: 25px;
}
