.homeContentWrapper {
  transform: translateY(38vh);
  width: fit-content;
  height: 500px;
  margin: 0 auto;
  color: #4b4b4b;
  z-index: 888;
}

.mainPageTitle {
  font-size: 40px;
  line-height: 55px;
}

.mainPageTitle span {
  font-size: 45px;
  color: rgb(164, 76, 215);
}

.mainPageTitle span.frontdev {
  font-size: 50px;
  color: rgb(71, 71, 213);
}

.secondLine {
  padding-top: 10px;
  padding-left: 70px;
}

.thirdLine {
  padding-left: 40px;
}

.homeBtnWrapper {
  display: flex;
  justify-content: center;
}

.goToProjectBtn {
  width: 210px;
  height: 55px;
  margin-top: 5px;
  margin-left: 400px;
  background-color: #9692c3;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  z-index: 999;
}

.goToProjectBtn:hover {
  cursor: pointer;
  background-color: #7177d0;
}

.goToProjectLink {
  z-index: 999;
}
