.homeContentWrapper {
  transform: translateY(38vh);
  width: fit-content;
  height: 500px;
  margin: 0 auto;
  color: #4b4b4b;
}

.mainPageTitle {
  font-size: 40px;
  line-height: 55px;
}

.mainPageTitle span {
  font-size: 45px;
  color: rgb(164, 76, 215);
}

.mainPageTitle span.frontdev {
  font-size: 50px;
  color: rgb(71, 71, 213);
}

.secondLine {
  padding-top: 10px;
  padding-left: 70px;
}

.thirdLine {
  padding-left: 40px;
}
