.listWrapper {
  width: 560px;
  display: flex;
  justify-content: space-between;
  transform: translateY(30vh);
  font-size: 30px;
  margin: 0 auto;
}
.skillList li {
  text-align: center;
  line-height: 60px;
  list-style: none;
  width: 230px;
  height: 60px;
  margin: 65px 0;
  background-color: #efefef;
  border: 4px solid #9a9a9a;
  border-radius: 10px;
}
