.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(5vh);
  color: #4a4a4a;
}

.contentWrapper h1.title {
  color: #4a4a4a;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 100px;
}

.contentWrapper .projectDesc {
  font-size: 27px;
  transform: translateY(-7vh);
}

.contentWrapper .projectDesc span {
  color: rgb(110, 83, 183);
}

.ul {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.codeStorage,
.developers,
.developeTime,
.stack,
.deploy {
  list-style: none;
  display: flex;
}

.codeStorageLable,
.developersLable,
.developeTimeLable,
.stackLable,
.deployLinkLable {
  width: 150px;
  height: 43.75px;
  border-radius: 10px 0 0 10px;
  border: 2px solid #412a72;
  background-color: #d9d9d9;
  text-align: center;
  line-height: 43.75px;
}

.codeStorageLink,
.developersContent,
.developeTimeContent,
.stackContent,
.deployLink {
  width: 550px;
  height: 43.75px;
  border-radius: 0 10px 10px 0;
  border: 2px solid #412a72;
  border-left: none;
  background-color: #fff;
  text-align: center;
  line-height: 43.75px;
}

.stackContent ul {
  display: flex;
  justify-content: center;
}

.stackContent li {
  list-style: none;
  padding: 0 10px;
}

.descWrapper {
  width: 950px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 35px;
}

.imgList {
  list-style: none;
  margin-bottom: 200px;
}

.img {
  margin-bottom: 25px;
  border: 2px solid #412a72;
}
