* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  width: 100%;
  height: 130vh;
  position: relative;
  background-color: #e7e1ac;
  overflow-x: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.heart {
  position: absolute;
}
